@use '@angular/material' as mat;
@use './styles/main' as *;
@use './styles/mixins' as mixins;

html {
  @include mat.theme(
    (
      color: (
        primary: mat.$azure-palette,
        tertiary: mat.$blue-palette,
      ),
      typography: Roboto,
      density: 0,
    )
  );
}

body {
  color-scheme: light;
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);
  margin: 0;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.container {
  padding: 32px;

  @include media-breakpoint-up(md) {
    padding-left: 72px;
    padding-right: 72px;
  }
}

html,
body,
app-root {
  height: 100%;
  margin: 0;
}

app-root {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

app-beers {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
}

app-footer {
  margin-top: auto;
}
