@use './styles/mixins' as *;

.beer-card-skeletons {
  ::ng-deep mat-card {
    height: 100%;
    width: 100%;
    gap: 32px;
    padding-bottom: 16px;
    background-color: #f3f4f7;
    border: none;
    border-radius: 0;

    @include flex-layout(column);
  }

  ::ng-deep &__header {
    margin-left: auto;
    height: 40px;
    width: 40px;
    background-color: lightgrey;
  }

  ::ng-deep &__content {
    height: 400px;
    background-color: lightgrey;
  }

  ::ng-deep &__actions {
    height: 40px;
    width: 100%;
    margin-top: auto;
    background-color: lightgrey;
  }
}
