@use 'styles/mixins' as *;

.beer-list-empty {
  min-height: 400px;

  @include flex-layout(column, center, center);

  p {
    font-size: 24px;
    text-align: center;
  }

  button {
    width: fit-content;
    font-size: 16px;
  }
}
