@use 'styles/variables' as *;
@use 'styles/mixins' as *;

.error {
  padding: $gutter-xl;

  @include flex-layout(column, center, center, nowrap, $gutter-lg);

  p {
    font-size: 24px;
    text-align: center;
  }

  button {
    width: fit-content;
    font-size: 16px;
  }
}
