@use './styles/variables' as *;
@use './styles/mixins' as *;

.beer-card {
  ::ng-deep mat-card {
    height: 100%;
    width: 100%;
    gap: $gutter-xl;
    padding-bottom: 16px;
    background-color: $secondary-color-light;
    border: none;
    border-radius: 0;

    @include flex-layout(column);
  }

  ::ng-deep mat-card-header {
    margin-left: auto;

    img {
      height: 40px;
      width: 40px;
    }
  }

  ::ng-deep mat-card-content {
    img {
      width: 100%;
      height: 400px;
      object-fit: contain;
    }
  }

  ::ng-deep .mdc-button .mdc-button__label {
    color: $black;

    @include flex-layout(row, center, center, nowrap, $gutter-sm);
  }

  ::ng-deep mat-card-actions {
    margin-top: auto;

    @include flex-layout(row, center);

    &__button {
      &--favorites {
        margin-left: auto;
      }

      &--details {
        color: $black;
        border-radius: 8px;
        background-color: $white;

        @include flex-layout(row, center, center);
      }
    }
  }
}
