.beer-card {
  ::ng-deep mat-card {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding-bottom: 16px;
    background-color: #f3f4f7;
    border: none;
    border-radius: 0;
  }

  ::ng-deep mat-card-header {
    margin-left: auto;

    img {
      height: 40px;
      width: 40px;
    }
  }

  ::ng-deep mat-card-content {
    img {
      width: 100%;
      height: 400px;
      object-fit: contain;
    }
  }

  ::ng-deep .mdc-button .mdc-button__label {
    display: flex;
    gap: 8px;
    justify-content: center;
    align-items: center;
    color: black;
  }

  ::ng-deep mat-card-actions {
    margin-top: auto;
    display: flex;
    justify-content: center;

    &__button {
      &--favorites {
        margin-left: auto;
      }

      &--details {
        display: flex;
        justify-content: center;
        align-items: center;
        color: black;
        border-radius: 8px;
        background-color: white;
      }
    }
  }
}
