@if (loading) {
  <ul class="beers-list">
    @for (_ of [1, 2, 3, 4, 5, 6]; let i = $index; track i) {
      <li><app-beer-card-skeletons /></li>
    }
  </ul>
} @else if (error) {
  <app-error (retryClicked)="retryClicked.emit()" />
} @else if (beers.length === 0) {
  <app-beer-list-empty (resetFiltersClicked)="resetFiltersClicked.emit()" />
} @else {
  <ul class="beers-list">
    @for (beer of beers; track beer.id) {
      <li>
        <app-beer-card
          [beer]="beer"
          (detailsClicked)="handleDetailsClicked($event)"
          (favoritesClicked)="savedFavoriteBeer.emit($event)"
        />
      </li>
    }
  </ul>
}
