@use 'styles/mixins' as *;

.beers-list {
  line-height: 1em;
  padding: 0;
  padding-left: 0;
  list-style-type: none;

  @include grid-layout(repeat(1, minmax(0, 1fr)), 48px);

  @include media-breakpoint-up(md) {
    overflow-y: auto;
    height: 600px;
    padding-right: 64px;

    @include grid-layout(repeat(2, minmax(0, 1fr)), 32px);
  }

  @include media-breakpoint-up(lg) {
    @include grid-layout(repeat(3, minmax(0, 1fr)), 32px);
  }

  &::-webkit-scrollbar {
    -webkit-appearance: none;
    padding: 0;
  }

  &::-webkit-scrollbar:vertical {
    width: 16px;
  }

  &::-webkit-scrollbar:horizontal {
    height: 11px;
  }

  &::-webkit-scrollbar-thumb {
    padding: 0;
    background-color: #cbccc9;
  }

  &::-webkit-scrollbar-track {
    border: 1px solid #cdccd9;
    background-color: #fafbf9;
  }
}
