@use 'styles/variables' as *;
@use 'styles/mixins' as *;

.beers-list {
  line-height: 1em;
  padding: 0;
  padding-left: 0;
  list-style-type: none;

  @include grid-layout(repeat(1, minmax(0, 1fr)), $gutter-xl);

  @include media-breakpoint-up(md) {
    overflow-y: auto;
    height: 600px;
    padding-right: $gutter-2xl;

    @include grid-layout(repeat(2, minmax(0, 1fr)), $gutter-xl);
  }

  @include media-breakpoint-up(lg) {
    @include grid-layout(repeat(3, minmax(0, 1fr)), $gutter-xl);
  }

  &::-webkit-scrollbar {
    -webkit-appearance: none;
    padding: 0;
  }

  &::-webkit-scrollbar:vertical {
    width: 16px;
  }

  &::-webkit-scrollbar:horizontal {
    height: 11px;
  }

  &::-webkit-scrollbar-thumb {
    padding: 0;
    background-color: $secondary-color;
  }

  &::-webkit-scrollbar-track {
    border: 1px solid $secondary-color-dark;
    background-color: $secondary-color;
  }
}
