<app-modal (closed)="closeBeerModal($event)">
  <div class="beer-modal">
    <div class="beer-modal__header">
      <div class="beer-modal__info">
        <h2 class="beer-modal__title">{{ beerData.name }}</h2>
        <p class="beer-modal__tagline">{{ beerData.tagline }}</p>

        <div class="beer-modal__meta">
          <span><strong>ABV:</strong> {{ beerData.abv }}%</span>
          <span><strong>IBU:</strong> {{ beerData.ibu }}</span>
          <span><strong>First Brewed:</strong> {{ beerData.first_brewed }}</span>
        </div>
      </div>
    </div>

    <img
      [src]="beerData.image_url"
      [alt]="beerData.name"
      [appFallback]="appFallbackImage"
      loading="lazy"
      class="beer-modal__image"
    />

    <p class="beer-modal__description">{{ beerData.description }}</p>

    <div class="beer-modal__extra">
      <h3>Food Pairing</h3>
      <ul>
        @for (food of beerData.food_pairing; track beerData.id) {
          <li>{{ food }}</li>
        }
      </ul>

      <h3>Brewer’s Tips</h3>
      <p>{{ beerData.brewers_tips }}</p>
    </div>
  </div>
</app-modal>
