@use 'styles/mixins' as *;

.beer-modal {
  background: #fff;
  border-radius: 1.25rem;
  max-width: 700px;
  width: 100%;
  margin: auto;
  color: #222;
  font-family: 'Inter', system-ui, sans-serif;

  @include flex-layout(column, flex-start, center, nowrap, 1.5rem);

  &__header {
    @include flex-layout(column, flex-start, flex-start, nowrap, 1.5rem);
  }

  &__image {
    height: 100%;
    max-height: 200px;
    object-fit: contain;
    border-radius: 0.5rem;
    padding: 0.5rem;
  }

  &__info {
    flex: 1;
  }

  &__title {
    font-size: 1.75rem;
    font-weight: 700;
    margin: 0;
    color: #222;
  }

  &__tagline {
    color: #888;
    font-style: italic;
    margin: 0.25rem 0 0.5rem;
  }

  &__meta {
    font-size: 0.95rem;
    color: #555;

    @include flex-layout(row, flex-start, center, wrap, 1rem);
  }

  &__description {
    line-height: 1.6;
    color: #333;
    margin: 0.5rem 0;
  }

  &__extra {
    background: #fafafa;
    border-radius: 0.75rem;
    padding: 1rem 1.25rem;
    border: 1px solid #eee;

    h3 {
      margin-top: 0;
      font-size: 1.1rem;
      font-weight: 600;
      color: #333;
    }

    ul {
      padding-left: 1.5rem;
      margin: 0.5rem 0 1rem;
      list-style-type: disc;

      li {
        line-height: 1.4;
        color: #444;
      }
    }
  }
}
