@use 'styles/mixins' as *;

footer {
  padding: 64px 0;
  background-color: #ffc71e;

  @include flex-layout(row, center, center);

  img {
    width: 100%;
    height: 50px;
    max-height: 100px;
    object-fit: contain;

    @include media-breakpoint-up(md) {
      height: 70px;
    }

    @include media-breakpoint-up(lg) {
      height: 100px;
    }

    @include media-breakpoint-up(lg) {
      height: 120px;
    }
  }
}
