$primary-color: #ffc71e;
$secondary-color: lightgrey;
$secondary-color-dark: darkgrey;
$secondary-color-light: #f3f4f7;
$white: white;
$black: black;

$backdrop-color: rgba(0, 0, 0, 0.5);
$box-shadow: 0 2px 20px rgba(0, 0, 0, 0.3);

$gutter-xs: 8px;
$gutter-sm: 8px;
$gutter-md: 16px;
$gutter-lg: 24px;
$gutter-xl: 32px;
$gutter-2xl: 64px;
